//浅色主题
$light-theme: (
  base-color: #353944,
  background-color: #f5f5f7,
  border-color:#ececec,
  left-color: #ffffff,
  button-color: #459ffc
);

//深色主题
$dark-theme: (
  base-color: #CFD3DC,
  background-color: #353944,
  border-color:#4C4D4F,
  left-color:#1d1e1f,
  button-color: #626aef
);
$backgroundThemes: (
  light-theme: $light-theme,
  dark-theme: $dark-theme,
);

$green-theme:(
   base-color: #67C23A,
   background-color:#67C23A,
   color-white:#67c23a13,
);
$blue-theme:(
  base-color: #409EFF,
  background-color:#409EFF,
  color-white:#40a0ff13,
);
$org-theme:(
  base-color: #E6A23C,
  background-color:#E6A23C,
  color-white:#e6a23c13,
);
$red-theme:(
    base-color: #F56C6C,
   background-color:#F56C6C,
   color-white:#f56c6c13,
);
$light-blue:#008997;
$blue:#0367a6;
$gray:#333;
$white:#e9e9e9;

//定义映射集合
$themes: (
  green-theme: $green-theme,
  blue-theme: $blue-theme,
  org-theme: $org-theme,
  red-theme: $red-theme,
);


//获取颜色并为当前主题色配置颜色
//字体颜色
@mixin base-color() {
  @each $theme-name, $theme in $themes {
    [data-theme = '#{$theme-name}'] & {
      color: map-get($map: $theme, $key: base-color);
    }
  }
}

//背景色
@mixin base-background() {
  @each $theme-name, $theme in $themes {
    [data-theme = '#{$theme-name}'] & {
      background: map-get($map: $theme, $key: background-color);
    }
  }
}

@mixin color-white() {
  @each $theme-name, $theme in $themes {
    [data-theme = '#{$theme-name}'] & {
      background: map-get($map: $theme, $key: color-white);
    }
  }
}

//home字体颜色
@mixin home-color() {
  @each $theme-name, $theme in $backgroundThemes{
    [data-theme1 = '#{$theme-name}'] & {
      color: map-get($map: $theme, $key: base-color);
    }
  }
}

//home背景色
@mixin home-background() {
  @each $theme-name, $theme in $backgroundThemes {
    [data-theme1 = '#{$theme-name}'] & {
      background: map-get($map: $theme, $key: background-color);
    }
  }
}
//侧栏背景色
@mixin left-background() {
  @each $theme-name, $theme in $backgroundThemes {
    [data-theme1 = '#{$theme-name}'] & {
      background: map-get($map: $theme, $key: left-color);
    }
  }
}
//边框背景色
@mixin border-background() {
  @each $theme-name, $theme in $backgroundThemes {
    [data-theme1 = '#{$theme-name}'] & {
      border-color: map-get($map: $theme, $key: border-color);
    }
  }
}
//按钮背景色
@mixin button-background() {
  @each $theme-name, $theme in $backgroundThemes {
    [data-theme1 = '#{$theme-name}'] & {
      background: map-get($map: $theme, $key: button-color);
    }
  }
}
//按钮背景色
@mixin button-border() {
  @each $theme-name, $theme in $backgroundThemes {
    [data-theme1 = '#{$theme-name}'] & {
      border-color: map-get($map: $theme, $key: button-color);
    }
  }
}
$font-size: 14px;

